*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase Configuration
app/google-services.json

# Build outputs
/debug/
/release/
*.apk
